
.header {
  background-color: #282c34;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #61dafb;
  flex-direction: row;
}


.header-content {
  display: flex;
  align-items: center;
}


.header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  width: 50%;
}

.header-right {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 12px; 
  border: 1px solid #61dafb;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 200px; 
}

.search-input:focus {
  border-color: #21a1f1; 
}


@media (max-width: 768px) {
  .header {
    flex-direction: row; 
    padding: 10px;
  }

  .header-content {
    flex-grow: 1; 
    margin-right: 20px; 
  }

  .header-right {
    display: flex;
    align-items: center;
  }

  .search-container {
    flex: 1;
  }

  .search-input {
    width: calc(100% - 60px);
    margin-left: 0;
  }
}
