.header {
  background: #012031;
  color: white;
  padding: 5px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
}

.header-content img {
  width: 7%;
  height: 7%;
}
.header-content h2 {
  background: #012031;
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  cursor: pointer;
  padding-top: 1.3%;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right .icon {
  margin-left: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    padding: 6px;
  }

  .header-content h2 {
    padding-left: 0px;
  }

  .header-content img {
    width: 9%;
    height: 9%;
  }
  .header-right .icon {
    padding-right: 5px;
    cursor: pointer;
  }
}
