body.modal-open {
  overflow: hidden;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  margin-top: 2.9%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  width: 100%;
  height: auto;
  overflow: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

.modal-main {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.modal-left {
  flex: 1;
  text-align: center;
}

.modal-right {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.modal-poster {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 8px;
}

.modal-title {
  font-size: 24px;
  left: 20px;
}
.modal-original-title {
  margin-top: -10px;
}
.modal-vote-average,
.modal-overview {
  margin-bottom: 10px;
}

.modal-videos {
  display: flex;
  flex-direction: column;
}

.video-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.video-item {
  text-align: center;
  position: relative;
}
.video-item iframe {
  width: 100%;
  height: 350px;
  max-width: 100%;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.filter-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movie-details-rating {
  margin-top: -92px;
  margin-left: 335px;
}

@media (max-width: 1824px) {
  .movie-details-rating {
    margin-left: 275px;
  }
}

@media (max-width: 1424px) {
  .movie-details-rating {
    margin-left: 235px;
  }
}

@media (max-width: 1024px) {
  .modal-overlay {
    margin-top: 5%;
  }
  .video-container {
    display: block;
  }

  .video-item iframe {
    height: 360px;
    padding-bottom: 30px;
  }

  .movie-details-rating {
    margin-left: 220px;
  }
}

@media (max-width: 768px) {
  .modal-overlay {
    margin-top: 7%;
  }

  .modal-main {
    flex-direction: column;
  }

  .modal-left {
    margin-bottom: 20px;
  }

  .modal-close {
    position: absolute;
    top: 1px;
    right: -3px;
  }

  .video-item iframe {
    height: 250px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .movie-details-rating {
    margin-left: 375px;
  }
}

@media (max-width: 700px) {
  .movie-details-rating {
    margin-left: 335px;
  }
}

@media (max-width: 600px) {
  .movie-details-rating {
    margin-left: 305px;
  }
}

@media (max-width: 500px) {
  .movie-details-rating {
    margin-left: 280px;
  }
}
