.movie-details-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #012031;
  min-height: 92vh;
  background-image: url("https://image.tmdb.org/t/p/original${movie?.backdrop_path}");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.movie-details-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.movie-main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 20px;
  position: relative;
  z-index: 2;
}

.movie-left {
  flex: 1;
  max-width: 300px;
  text-align: center;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.movie-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 10px;
}

.movie-right h2 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0px;
  color: #012031;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.info-item {
  display: flex;
  align-items: flex-start;
}

.info-item strong {
  font-weight: bold;
  color: #012031;
  margin-right: 10px;
}

.info-item span,
.info-item p {
  margin: 0;
  font-size: 16px;
  color: #555;
}

.movie-videos {
  margin-top: 20px;
  z-index: 2;
}

.filter-tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-tabs .button {
  padding: 8px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #012031;
  border: 1px solid #012031;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.video-item {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.video-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.movie-loading {
  display: block;
  margin: 50px auto;
  width: 80px;
  height: 80px;
}

@media (max-width: 768px) {
  .movie-main {
    flex-direction: column;
    align-items: center;
  }

  .movie-left {
    max-width: 100%;
  }

  .movie-right {
    padding: 0;
    text-align: center;
  }

  .movie-right h2 {
    font-size: 24px;
  }

  .movie-right p {
    font-size: 14px;
    line-height: 1.4;
  }

  .filter-tabs {
    justify-content: center;
    flex-wrap: wrap;
  }

  .video-list {
    grid-template-columns: 1fr;
  }
}
