.app {
  text-align: center;
  font-family: "Abeezee", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.desktopMessage {
  background-color: "#ffcccc";
  color: "#333";
  padding: "20px";
  text-align: "center";
}
